img {
	display: inline-block;
}

.font_32 {
	font-size: 0.42rem;
}

.font_24 {
	font-size: 0.42rem;
}

.font_28 {
	font-size: 0.37rem;
}

.col_3 {
	color: #333;
}

.col_6 {
	color: #666666;
}

.col_r {
	color: #e11e00;
}

.center {
	text-align: center;
}

.hr {
	width: 100%;
	height: 0.13rem;
	background: #F4F4F4;
}

.blue {
	border: 1px solid #0e85ff;
	color: #0e85ff;
}

.orange {
	border: 1px solid #d18f00;
	color: #d18f00;
}

.wid_7 {
	width: 70%;
}

.wid_92 {
	width: 92%;
}

.greyColor {
	color: #999 !important;
}


/*首页*/

#cgg_index,
#fri_q,
html {
	background: #F3F3F3;
}

#cgg_index header,
.swiper-container {
	width: 100%;
	height: 5.33rem;
	overflow: hidden;
}

#cgg_index header .swiper-slide {
	height: 100%;
	width: 100%;
}

#cgg_index header .swiper-slide img {
	width: 100%;
	height: auto;
}

#cgg_index header .swiper-pagination-bullet {
	width: 0.16rem;
	height: 0.16rem;
	background: #fff;
	opacity: 1;
}

#cgg_index header .swiper-pagination-bullet-active {
	background: #c87832;
}

#i_content,
#cgg_index .tj_content ul,
#cgg_index .tj_content {
	width: 100%;
	overflow: hidden;
}

#i_content aside.classify {
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
	padding: 0.66rem 0 0.8rem 0;
}

#i_content aside.classify dl {
	width: 20%;
	float: left;
	text-align: center;
	overflow: hidden;
}

#i_content aside.classify dl:last-child {
	margin-right: 0 !important;
}

#i_content aside.classify dl dt {
	height: 1.2rem;
	margin-bottom: 0.26rem;
}

#i_content aside.classify dl img {
	width: 1.2rem;
	height: auto;
}

#i_content aside.classify dl dd {
	font-size: 0.32rem;
}

#cgg_index .tj {
	width: 96%;
	overflow: hidden;
	padding-left: 4%;
	padding-bottom: 0.33rem;
	padding-top: 0.3rem;
}

#cgg_index .tj img {
	height: 0.52rem;
	width: auto;
	float: left;
}

#cgg_index .tj_content ul li {
	margin-bottom: 0.13rem;
}

#cgg_index .tj_content ul li:last-child {
	margin-bottom: 0;
}

#cgg_index .tj_content ul li .text {
	width: 92%;
	background: #fff;
	/*padding: 0.4rem 4%;*/
	padding: 0.26rem 4%;
}

#cgg_index .tj_content ul li h3 {
	font-size: 0.42rem;
	color: #333333;
	font-weight: 600;
	/*margin-bottom: 0.26rem;*/
	margin-bottom: 0.2rem;
}

#cgg_index .tj_content ul li .top {
	position: relative;
	width: auto;
	height: 5.33rem;
	overflow: hidden;
}

#cgg_index .tj_content ul li .top img {
	display: block;
	width: 100%;
	height: auto;
}

#cgg_index .tj_content ul li p.intro {
	font-size: 0.32rem;
	color: #666666;
	/*line-height: 0.58rem;*/
	line-height: 0.42rem;
	/*margin-bottom: 0.26rem;*/
	margin-bottom: 0.13rem;
}

#cgg_index .tj_content ul li p.price {
	font-size: 0.42rem;
	color: #aa8250;
}

#cgg_index .tj_content ul li p.price span {
	font-size: 0.26rem;
}

#cgg_index .tj_content ul li span.shopcar {
	display: block;
	position: absolute;
	right: 0.4rem;
	width: 1.06rem;
	height: 1.06rem;
	bottom: 0.4rem;
	overflow: hidden;
}

#cgg_index .tj_content ul li span.shopcar img {
	height: 100%;
	width: auto;
}

#cgg_index .load {
	width: 100%;
	height: 0.36rem;
	padding: 0.4rem 0;
	margin-bottom: 1.33rem;
}

#cgg_index .load img {
	display: block;
	height: 0.36rem;
	width: auto;
	margin: 0 auto;
}


/*朋友的券*/

#fri_q header {
	width: 100%;
	height: 6rem;
	background: url(../img/pbg.png) no-repeat center;
	background-size: 100% auto;
	position: relative;
}

#fri_q header a {
	display: block;
	height: 0.93rem;
	width: 3.6rem;
	overflow: hidden;
	position: absolute;
	right: 0.66rem;
	bottom: 0.8rem;
}

#fri_q header a img {
	width: 100%;
}

#fri_content aside.top {
	width: 100%;
	overflow: hidden;
	background: #fff;
	margin-bottom: 0.13rem;
}

#fri_content aside.top dl {
	width: 50%;
	float: left;
	position: relative;
	text-align: center;
}

#fri_content aside.top dl:after {
	content: '';
	width: 1px;
	height: 0.89rem;
	background: url(../img/line2.png) no-repeat center;
	background-size: cover;
	position: absolute;
	right: 0;
	top: 0.445rem;
}

#fri_content aside.top dl:last-child:after {
	display: none;
}

#fri_content aside.top dl dt {
	font-size: 0.66rem;
	color: #333333;
	padding-top: 0.4rem;
	padding-bottom: 0.25rem;
}

#fri_content aside.top dl dd {
	padding-bottom: 0.4rem;
}

#fri_content aside.top dl dd img {
	width: auto;
	display: block;
	margin: 0 auto;
}

#fri_content aside.top dl:nth-of-type(1) dd img {
	height: 0.42rem;
}

#fri_content aside.top dl:nth-of-type(2) dd img {
	height: 0.37rem;
}

#fri_content aside.cy_con ul {
	background: #fff;
}

#fri_content aside.cy_con ul li {
	overflow: hidden;
	padding: 0.4rem 0;
	margin-left: 0.4rem;
	border-bottom: 1px solid #efefef;
}

#fri_content aside.cy_con ul li dl {
	width: 72.5%;
	float: left;
}

#fri_content aside.cy_con ul li dl dt {
	width: 1.46rem;
	overflow: hidden;
	float: left;
	margin-right: 0.4rem;
}

#fri_content aside.cy_con ul li dl dt img {
	display: block;
	width: 100%;
}

#fri_content aside.cy_con ul li h3 {
	font-size: 0.42rem;
	font-weight: 400;
}

#fri_content aside.cy_con ul li div.right {
	width: 24%;
	float: left;
	text-align: right;
	margin-top: 0.13rem;
}

#fri_content aside.cy_con ul li div.right h3 {
	margin-bottom: 0.13rem;
}

#fri_content aside.cy_con ul li dl dd {
	width: 70%;
	float: left;
}

#fri_content aside.cy_con ul li dl dd h3 {
	margin-bottom: 0.4rem;
}

#fri_content aside.cy_con ul li dl dd p {
	font-size: 0.37rem;
	color: #666666;
	/*height: 0.4rem;*/
	overflow: hidden;
	height: 0.48rem;
	line-height: 0.48rem;
}

#fri_content aside.cy_con ul li dl dd p img {
	display: inline-block;
	height: 0.4rem;
	width: auto;
	vertical-align: top;
	margin-right: 0.12rem;
}

#fri_content aside.cy_con ul li div.right p {
	font-size: 0.32rem;
	color: #666666;
}

#fri_q aside.box {
	position: fixed;
	z-index: 999;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
	display: none;
}

#fri_q aside.box ul {
	width: 86.6%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 0.77rem;
}

#fri_q aside.box li {
	float: left;
	width: 1.2rem;
	margin-right: 0.66rem;
}

#fri_q aside.box li a {
	width: 100%;
	display: block;
}

#fri_q aside.box li img {
	display: block;
	width: 100%;
}

#fri_q aside.box li:last-child {
	margin-right: 0;
}

#fri_q aside.box p {
	width: 5.32rem;
	margin: 0 auto;
	margin-top: 0.65rem;
	margin-bottom: 0.8rem;
}

#fri_q aside.box p img {
	display: block;
	width: 100%;
	height: auto;
}


/*会员中心*/

#cgg_mem,
#cgg_mem header {
	width: 100%;
	overflow: hidden;
}

#cgg_mem header {
	height: 7.13rem;
	background: url(../img/membg2.png) no-repeat center;
	background-size: 100% auto;
	background-position: 0 0px;
	position: relative;
	width: 100%;
}

#cgg_mem header dl {
	text-align: center;
	margin: 0 auto;
	margin-top: 0.8rem;
}

#cgg_mem header dl dt {
	width: 2.13rem;
	position: relative;
	margin: 0 auto;
}

#cgg_mem header dl dt img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.4rem;
}

#cgg_mem header dl dd h3 {
	margin-bottom: 0.29rem;
}

#cgg_mem header dl dd h3,
#cgg_mem header ul li h3 {
	font-size: 0.53rem;
	color: #fff;
	line-height: 0.4rem;
}

#cgg_mem header dl dd span {
	font-size: 0.37rem;
	color: #e8ddd0;
}

#cgg_mem header dl .jb {
	width: 0.82rem;
	height: 0.82rem;
	position: absolute;
	display: block;
	right: 0;
	top: 0;
}

#cgg_mem header dl .jb img {
	height: 0.82rem;
	width: auto;
}

#cgg_mem header ul {
	margin-top: 0.66rem;
}

#cgg_mem header ul li {
	float: left;
	width: 50%;
	text-align: center;
}

#cgg_mem header ul li span {
	font-size: 0.37rem;
	color: #ffffff;
}

#cgg_mem header ul li h3 {
	margin-bottom: 0.33rem;
}

#cgg_mem header .sz {
	position: absolute;
	display: block;
	height: 0.48rem;
	width: 0.5rem;
	right: 0.4rem;
	top: 0.4rem;
}

#cgg_mem header .sz img {
	height: 0.48rem;
	width: auto;
}

#mem_content {
	width: 100%;
	overflow: hidden;
}

#mem_content aside.order,
#vis_content .vislist aside.order,
#cgg_pay aside.order,
#confirmation aside.order {
	width: 92%;
	padding: 0 4%;
	overflow: hidden;
	border-bottom: 1px solid #eeeeee;
	background: #fff;
}

#mem_content aside.order dl,
#vis_content .vislist aside.order dl,
#cgg_pay aside.order dl,
#confirmation aside.order dl:first-child {
	float: left;
	height: 0.42rem;
	line-height: 0.42rem;
	padding: 0.4rem 0;
}

#mem_content aside.order dl:last-child,
#vis_content .vislist aside.order dl:last-child {
	float: right;
	width: auto;
	font-size: 0.37rem;
	color: #666666;
	text-align: right;
}

#mem_content aside.order dl:first-child,
#vis_content .vislist aside.order dl:first-child,
#cgg_pay aside.order dl,
#confirmation aside.order dl:first-child {
	width: auto;
	font-size: 0.42rem;
	color: #333333;
}

#mem_content aside.order dl dt,
#mem_content aside.order dl dd,
#vis_content .vislist aside.order dl dd,
#vis_content .vislist aside.order dl dt,
#cgg_pay aside.order dl dt,
#cgg_pay aside.order dl dd,
#confirmation aside.order dl:first-child dt,
#confirmation aside.order dl:first-child dd {
	float: left;
}

#mem_content aside.order dl:last-child img,
#vis_content .vislist aside.order dl:last-child img {
	height: 0.32rem;
	width: auto;
	padding-top: 0.05rem;
	float: right;
}

#mem_content aside.order dl:first-child img,
#cgg_pay aside.order dl img,
#confirmation aside.order dl:first-child img {
	height: 0.42rem;
	width: auto;
}

#mem_content aside.order dl:first-child dt,
#vis_content aside.order dl:first-child dt,
#cgg_pay aside.order dl dt,
#confirmation aside.order dl:first-child dt {
	margin-right: 0.26rem;
}

#mem_content aside.order dl:last-child dt,
#vis_content aside.order dl:last-child dt {
	margin-left: 0.26rem;
}

#mem_content aside.list {
	width: 100%;
	padding: 0.53rem 0 0.4rem 0;
	overflow: hidden;
	background: #fff;
	margin-bottom: 0.26rem;
}

#mem_content aside.list dl {
	width: 25%;
	float: left;
	text-align: center;
	font-size: 0.37rem;
	color: #666666;
}

#mem_content aside.list dl dt {
	width: 1.33rem;
	height: 1.33rem;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 0.33rem;
}

#mem_content aside.list dl:nth-of-type(2) dt {
	position: relative;
}

#mem_content aside.list dl:nth-of-type(2) dt span.stip {
	border-radius: 50%;
	background: #e90000;
	width: 0.48rem;
	height: 0.48rem;
	line-height: 0.48rem;
	font-size: 0.32rem;
	color: #fff;
	position: absolute;
	z-index: 9999;
	right: 0;
	top: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#mem_content aside.list dl dt img {
	width: 100%;
}

#mem_content aside.ullist {
	width: 100%;
	overflow: hidden;
	margin-bottom: 1.33rem;
	background: #fff;
}

#mem_content aside.ullist dl {
	background: #fff;
	width: 96%;
	padding: 0.4rem 0;
	margin-left: 4%;
	overflow: hidden;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}

#mem_content aside.ullist dl dt {
	float: left;
	width: 0.53rem;
	height: 0.56rem;
}

#mem_content aside.ullist dl dt img {
	height: auto;
	width: 0.53rem;
	margin: 0 auto;
	vertical-align: middle;
}

#mem_content aside.ullist dl dd {
	font-size: 0.37rem;
	width: auto;
	float: left;
	color: #333333;
	margin-left: 0.44rem;
}

#mem_content aside.ullist dl:after {
	content: '';
	position: absolute;
	width: 0.18rem;
	height: 0.32rem;
	background: url(../img/rarrow.png) no-repeat center;
	background-size: 100% auto;
	right: 0.4rem;
	top: 0.52rem;
}

#mem_content aside.ullist dl:nth-of-type(4),
#mem_content aside.ullist dl:nth-of-type(7),
#mem_content aside.ullist dl:last-child {
	border-bottom: 0;
}


/*参观集锦*/

#vis_content {
	margin-top: 1.13rem;
}

#cgg_visit,
#cgg_visit header,
#vis_content {
	width: 100%;
	/*overflow: hidden;*/
}

#cgg_visit header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	overflow: auto !important;
	background: #b49682;
}

#cgg_visit header dl {
	width: 24%;
	float: left;
	font-size: 0.42rem;
	text-align: center;
	background: #b49682;
	color: #fff;
	padding: 0.34rem 13% 0.37rem 13%;
	position: relative;
}

#cgg_visit header dl:nth-of-type(1) {
	position: relative;
}

#cgg_visit header dl:nth-of-type(1):after {
	content: '';
	width: 1px;
	height: 0.4rem;
	position: absolute;
	z-index: 9999;
	background: url(../img/line4.png) no-repeat right center;
	right: 0;
	top: 0.365rem;
}

#cgg_visit header dl dt {
	float: left;
	height: 0.41rem;
	margin-right: 0.26rem;
}

#cgg_visit header dl dt img {
	height: 100%;
	width: auto;
	display: block;
}

#cgg_visit header dl dd {
	line-height: 0.42rem;
}

#vis_content .vislist {
	overflow: auto;
	display: none;
}

#cgg_visit header dl.unclick .clickd {
	display: none;
}

#cgg_visit header dl.unclick .uced {
	display: block;
}

#cgg_visit header dl .uced {
	display: none;
}

#vis_content .addopen {
	display: block;
}

#cgg_visit header dl span.angel {
	position: absolute;
	width: 0.53rem;
	height: 0.17rem;
	bottom: -2px;
	display: block;
	z-index: 9999;
	left: 42%;
}

#cgg_visit header dl.unclick span.angel {
	display: none;
}

#cgg_visit header dl span.angel img {
	height: 100%;
	width: auto;
	display: block;
}


/*最新活动*/

#vis_content .vislist .activity_content {
	background: #fff;
	padding-bottom: 0.26rem;
}

#vis_content .vislist .activity_content .pic {
	width: 100%;
	height: 5.33rem;
	position: relative;
}

#vis_content .vislist .activity_content .pic img {
	width: 100%;
}

#vis_content .vislist .activity_content .pic a {
	display: block;
	padding: 0.21rem 0.4rem 0.21rem 0.4rem;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0.4rem;
	right: 0.4rem;
	font-size: 0.37rem;
	color: #fff;
	border-radius: 35px;
}

#vis_content .vislist .activity_content .pic .bg_col {
	background: #fff;
	color: #666666;
}

#vis_content .vislist .activity_content dl {
	padding: 0.26rem 0.4rem 0rem 0.4rem;
	background: #fff;
}

#vis_content .vislist .activity_content dl dt {
	font-size: 0.42rem;
	color: #333333;
	line-height: 1.17rem;
}

#vis_content .vislist .activity_content dl .times {
	line-height: 0.61rem;
}

#vis_content .vislist .activity_content dl .times .time {
	width: 1.73rem;
	font-size: 0.37rem;
	color: #666666;
	text-align: justify;
	margin-right: 0.08rem;
}

#vis_content .vislist .activity_content dl .times span {
	font-size: 0.37rem;
	color: #333333;
}

#vis_content .vislist .activity_content dl .times .line {
	display: inline-block;
	width: 6.13rem;
	height: 0.13rem;
	background: #ededed;
	border-radius: 20px;
	line-height: 0rem;
	margin-right: 0.08rem;
	margin-bottom: 0.05rem;
}

#vis_content .vislist .activity_content dl .times .line .num {
	display: inline-block;
	width: 0.66rem;
	height: 0.13rem;
	background: #b49682;
	border-radius: 20px;
}

#vis_content .vislist .activity_content dl .times .nums {
	font-size: 0.32rem;
	color: #666666;
}

#vis_content .vislist .activity_entrance {
	display: block;
	line-height: 1.2rem;
	background: #fff;
	text-align: center;
	font-size: 0.37rem;
	color: #666666;
	border-top: 1px solid #eeeeee;
	position: fixed;
	width: 100%;
	bottom: 0;
}

#vis_content .vislist .activity_entrance img {
	width: 0.36rem;
	height: 0.36rem;
	vertical-align: middle;
	margin-left: 0.13rem;
	margin-bottom: 0.05rem;
}

#vis_content .vislist:first-child {
	margin-bottom: 1.2rem;
}


/*参观集锦*/

#vis_content .vislist aside.order {
	width: 92%;
	padding: 0 4%;
	overflow: auto !important;
	background: #fff;
	border-bottom: 0;
}

#vis_content .vislist aside.order dl:first-child img {
	height: 0.46rem;
	width: auto;
	display: block;
	margin-top: -0.04rem;
}

#vis_content .vislist aside.order dl:first-child dd {
	font-weight: 600;
}

#vis_content .vislist aside.v_list {
	width: 92%;
	padding: 0 4%;
	overflow: auto !important;
	background: #fff;
	margin-bottom: 0.13rem;
}

#vis_content .vislist aside.v_list dl {
	border-bottom: 1px solid #e7e7e7;
}

#vis_content .vislist aside.v_list dl dt .myVideo {
	width: 100%;
	height: 6rem;
	overflow: hidden;
}

#vis_content .vislist aside.v_list dl dd.first {
	font-size: 0.42rem;
	color: #333333;
	line-height: 0.42rem;
	/*padding: 0.4rem 0 0.26rem 0;*/
	padding: 0.3rem 0 0.26rem 0;
}

#vis_content .vislist aside.v_list dl dd.last {
	font-size: 0.37rem;
	color: #666666;
	line-height: 0.37rem;
	padding-bottom: 0.4rem;
}

#vis_content .vislist aside.bef_list {
	width: 92%;
	padding: 0 4%;
	overflow: auto !important;
	background: #fff;
}

#vis_content .vislist aside.bef_list dl {
	width: 47.5%;
	float: left;
	margin-right: 0.4rem;
	font-size: 0.37rem;
	color: #333333;
	background: #f3f3f3;
	margin-bottom: 0.4rem;
}

#vis_content .vislist aside.bef_list dl dt {
	width: 100%;
	overflow: hidden;
	/*background: pink;*/
}

#vis_content .vislist aside.bef_list dl:nth-of-type(2n) {
	margin-right: 0;
}

#vis_content .vislist aside.bef_list dl dd {
	line-height: 0.57rem;
	/*padding: 0.26rem 0.46rem 0.37rem 0.26rem;*/
	padding: 0.01rem 0.46rem 0.37rem 0.26rem;
}


/*评价你的顾问*/

#cgg_com,
#cgg_com header {
	width: 100%;
	overflow: hidden;
}

#cgg_com header {
	background: #b49682;
	position: fixed;
	top: 0;
	overflow: hidden;
	z-index: 9999;
}

#cgg_com header p.search {
	width: 92%;
	margin: 0.26rem auto;
	background: #fff;
}

#cgg_com header ul {
	width: 92%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 4%;
	border-top: 1px solid #c3ab9b;
}

#cgg_com header ul li {
	width: 50%;
	float: left;
	padding: 0.365rem 0;
}

#cgg_com header ul li:nth-of-type(1) {
	position: relative;
}

#cgg_com header ul li:nth-of-type(1):after {
	content: '';
	width: 1px;
	height: 0.4rem;
	position: absolute;
	z-index: 9999;
	background: url(../img/line4.png) no-repeat right center;
	right: 0rem;
}

#cgg_com header input {
	border: none;
	width: 100%;
	height: 0.8rem;
	border-radius: 5px;
	background: url(../img/sear.png) no-repeat center #FFF;
	background-size: 2.7rem auto;
	text-indent: 24px;
}

#cgg_com header ul li select {
	width: auto;
	float: right;
	-webkit-appearance: none;
	background: url(../img/select.png) no-repeat scroll right center transparent;
	text-align: center;
	padding-right: 1.04rem;
	border: none;
	font-size: 0.42rem;
	color: #fff;
	line-height: 0.42rem;
}

#cgg_com header ul li select:nth-of-type(1) {
	margin-right: 0.4rem;
}

#cgg_com header ul li select option {
	font-size: 0.42rem;
}

#com_content {
	width: 100%;
	overflow: hidden;
	margin-top: 2.53rem;
}

#com_content .comlist {
	margin-bottom: 0.13rem;
	background: #fff;
}

#com_content .comlist .top {
	overflow: hidden;
	padding: 0.53rem 0;
	border-bottom: 1px solid #eaeaea;
}

#com_content .comlist .top span {
	display: block;
	float: left;
	padding: 0 0.41rem 0 0.36rem;
	width: 1.46rem;
}

#com_content .comlist .top span img {
	width: 100%;
	height: auto;
	display: block;
}

#com_content .comlist .top .center {
	float: left;
	width: 50%;
	overflow: hidden;
}

#com_content .comlist .top .center h3 {
	font-size: 0.42rem;
	color: #333333;
	line-height: 0.42rem;
	margin-bottom: 0.37rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-align: left;
}

#com_content .comlist .top .center i {
	font-size: 0.37rem;
	color: #666666;
	font-style: normal;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-align: left;
}

#com_content .comlist .top ul {
	float: right;
	margin-right: 4%;
}

#com_content .comlist .top ul li {
	float: left;
	width: 0.32rem;
	margin-left: 0.08rem;
}

#com_content .comlist .top ul li img {
	display: block;
	width: 0.32rem;
	height: auto;
}

#com_content .comlist .bottom {
	overflow: hidden;
	padding: 0.36rem 0;
}

#com_content .comlist .bottom dl {
	width: 25%;
	float: left;
	position: relative;
}

#com_content .comlist .bottom dl:after {
	content: '';
	width: 1px;
	height: 0.4rem;
	background: url(../img/line.png) no-repeat center;
	background-size: cover;
	position: absolute;
	right: 0;
	top: 0rem;
	z-index: 9999;
}

#com_content .comlist .bottom dl dt {
	float: left;
	height: 0.4rem;
	margin-right: 0.26rem;
	margin-left: 0.53rem;
}

#com_content .comlist .bottom dl dd {
	float: left;
	color: #999999;
	line-height: 0.37rem;
	font-size: 0.37rem;
	margin-top: 3px;
}

#com_content .comlist .bottom dl dt img {
	height: 0.4rem;
	width: auto;
}


/*列表*/

#cgg_list,
#cgg_list header {
	width: 100%;
	overflow: hidden;
}

#cgg_list header {
	position: relative;
	background: #fff;
	margin-bottom: 0.13rem;
}

#cgg_list header .swiper-container {
	width: 94% !important;
	height: 1.17rem;
	line-height: 1.17rem;
	z-index: 1;
	left: 0;
	background: #fff;
}

#cgg_list header .swiper-slide a.choosed {
	color: #aa8250;
}

#cgg_list header .swiper-slide a {
	width: 100%;
	text-align: center;
	display: block;
	color: #666;
	height: 92%;
	font-size: 0.37rem;
	color: #666;
}

#list_con {
	width: 100%;
	overflow: hidden;
	margin-bottom: 1.33rem;
}

#cgg_list .swiper-slide {
	float: left;
	width: auto !important;
}

#cgg_list header .right {
	width: 1.49rem;
	overflow: hidden;
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	background: #FFFFFF;
}

#cgg_list header .right span {
	float: left;
	width: 0.32rem;
}

#cgg_list header .right span img {
	height: 1.22rem;
	width: auto;
	display: block;
}

#cgg_list header .right em {
	width: 1.17rem;
	float: right;
	text-align: center;
}

#cgg_list header .right em img {
	height: 0.24rem;
	width: auto;
	margin: 0 auto;
	margin-top: 0.465rem;
}

#list_con li {
	width: 49.33%;
	float: left;
	overflow: hidden;
	margin-bottom: 0.13rem;
	border-radius: ;
}

#list_con li a {
	width: 100%;
	display: block;
	text-align: center;
	background: #fff;
}

#list_con li:nth-of-type(2n) {
	margin-left: 0.13rem;
}

#list_con li a img {
	width: 4.93rem;
	height: 4.8rem;
	overflow: hidden;
	margin: 0 auto;
	display: block;
}

#list_con li a p,
#list_con li a span {
	width: 92%;
	margin: 0 auto;
	text-align: left;
	display: block;
}

#list_con li a p {
	font-size: 0.37rem;
	color: #333333;
	line-height: 0.57rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

#list_con li a span {
	font-size: 0.42rem;
	color: #aa8250;
	line-height: 0.42rem;
	margin-top: 0.45rem;
	padding-bottom: 0.26rem;
}


/*食客分享*/

#diners_share header dl {
	width: 33.333333%;
	float: left;
	font-size: 0.42rem;
	line-height: 0.42rem;
	text-align: center;
	background: #b49682;
	color: #fff;
	padding: 0.37rem 0;
	/*padding: 0.34rem 0 0.37rem 0;*/
	position: relative;
}

#diners_share header dl span.angel {
	position: absolute;
	width: 0.53rem;
	height: 0.17rem;
	bottom: -1px;
	display: block;
	z-index: 9999;
	/*left: 43%;*/
	left: 45.35%;
}

#diners_share header dl span.angel img {
	height: 100%;
	width: auto;
	display: block;
}

#diners_share header dl.unclick span.angel {
	display: none;
}

#share_con {
	width: 100%;
	overflow: hidden;
	margin-top: 2.48rem;
	margin-bottom: 1.4rem;
}

#share_con .comlist {
	margin-bottom: 1.38rem;
}

#share_con .comlist .top {
	overflow: hidden;
	padding: 0.4rem 0;
	margin-top: 0.13rem;
	background: #FFFFFF;
}

#share_con .comlist .top span {
	display: block;
	float: left;
	padding: 0 0.41rem 0 0.36rem;
	width: 1.46rem;
	overflow: hidden;
}

#share_con .comlist .top .center {
	float: left;
	width: 74.4%;
	overflow: hidden;
}

#share_con .comlist .top .center .dl_top {
	width: 100%;
	overflow: hidden;
}

#share_con .comlist .top .center h3 {
	font-size: 0.42rem;
	color: #333333;
	line-height: 0.42rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	float: left;
}

#share_con .comlist .top .center dl {
	width: 1.42rem;
	float: right;
	text-align: center;
}

#share_con .comlist .top .center dl dt,
#share_con .comlist .top .center dl dd {
	float: left;
}

#share_con .comlist .top .center dl img {
	width: 0.42rem;
	margin: 0 auto;
	margin-right: 0.26rem;
}

#share_con .comlist .top span img {
	width: 100%;
	height: auto;
	display: block;
}

#share_con .comlist .top .center dl dd {
	font-size: 0.42rem;
	height: 0.42rem;
	margin-top: -0.05rem;
	color: #999999;
	position: relative;
}

#diners_share header dl:after {
	content: '';
	width: 1px;
	height: 0.4rem;
	position: absolute;
	z-index: 9999;
	background: url(../img/line4.png) no-repeat right center;
	right: 0rem;
	top: 0.38rem;
}

#diners_share header dl:last-child:after {
	display: none;
}

#share_con .comlist .top .center dl dt {
	height: 0.45rem;
}

#share_con .comlist .top .center .colTip {
	width: 1.6rem;
	height: 0.46rem;
	line-height: 0.46rem;
	font-size: 0.32rem;
	margin-top: 0.4rem;
	display: block;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 0.26rem;
}

#share_con .comlist .top .center p {
	line-height: 0.53rem;
	text-align: left;
}

#share_con .comlist .top .center em.time {
	font-size: 0.32rem;
	color: #999999;
	margin-top: 0.13rem;
	float: left;
}

#share_con .comlist .top .center img.click {
	display: none;
}

#share_con .comlist .top .center dd.click {
	display: none;
	color: #aa8250;
}

#diners_share footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #FFFFFF;
}

#diners_share footer dl {
	height: 0.45rem;
	padding: 0.44rem 0;
	width: 2.46rem;
	margin: 0 auto;
}

#diners_share footer dl dt,
#diners_share footer dl dd {
	float: left;
	height: 100%;
}

#diners_share footer dl dt img {
	height: 0.45rem;
	width: auto;
}

#diners_share footer dl dd {
	line-height: 0.45rem;
	margin-left: 0.26rem;
	font-size: 0.42rem;
	color: #333333;
}


/*商品详情*/

#p_detail header {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0.13rem;
}

#p_detail .swiper-container {
	width: 100%;
	height: 7.78rem;
	overflow: hidden;
}

#p_detail header .swiper-slide {
	height: 100%;
	width: 100%;
}

#p_detail header .swiper-slide img {
	width: 100%;
	height: auto;
	display: block;
}

#p_detail header .swiper-pagination-bullet {
	width: 0.16rem;
	height: 0.16rem;
	background: #fff;
	opacity: 1;
}

#p_detail header .swiper-pagination-bullet-active {
	background: #c87832;
}

#p_detail header .intro {
	width: 92%;
	padding: 0 4%;
	background: #FFFFFF;
	overflow: hidden;
	padding-bottom: 0.4rem;
}

#p_detail header .intro h3 {
	line-height: 0.49rem;
	margin-bottom: 0.49rem;
	margin-top: 0.53rem;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

#p_detail header .intro p.price {
	line-height: 0.42rem;
	margin-bottom: 0.4rem;
}

#p_detail header .intro i {
	display: block;
	width: 100%;
	color: #999999;
	font-size: 0.37rem;
	line-height: 0.37rem;
	margin-bottom: 0.26rem;
}

#p_detail header .intro i a {
	text-decoration: line-through;
}

#p_detail header .intro div p {
	font-size: 0.37rem;
	color: #999999;
	line-height: 0.37rem;
}

#p_detail header .intro div p:nth-of-type(1) {
	float: left;
}

#p_detail header .intro div p:nth-of-type(2) {
	float: right;
}

#detail_con p.etalon,
#detail_con aside.order,
#detail_con aside.num {
	width: 92%;
	background: #fff;
	padding: 0.4rem 4%;
	border-bottom: 1px solid #eeeeee;
}

#detail_con p.etalon {
	position: relative;
	line-height: 0.37rem;
}

#detail_con p.etalon:after {
	content: '';
	position: absolute;
	width: 0.18rem;
	height: 0.32rem;
	background: url(../img/rarrow.png) no-repeat center;
	background-size: 100% auto;
	right: 0.4rem;
	top: 0.425rem;
}

#detail_con aside.order {
	height: 0.42rem;
	line-height: 0.42rem;
}

#detail_con aside.order dl dt {
	float: left;
	margin-right: 0.26rem;
}

#detail_con aside.order dl img {
	height: 0.42rem;
	width: auto;
}

#detail_con aside.num ul {
	overflow: hidden;
	float: right;
	width: 2.6rem;
}

#detail_con aside.num li.btn {
	width: 0.66rem;
	height: 0.66rem;
	line-height: 0.66rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	float: left;
	color: #999999;
	border: 1px solid #bbbbbb;
}

#detail_con aside.num li input {
	width: 0.96rem;
	margin: 0 0.1rem;
	height: 0.66rem;
	line-height: 0.66rem;
	border: none;
	float: left;
	text-align: center;
}

#detail_con aside.xq_con p img {
	display: block;
	width: 100%;
}

#detail_con {
	margin-bottom: 1.33rem;
}

#p_detail footer {
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}

#p_detail footer div.left {
	float: left;
	width: 50%;
	background: #fff;
	height: 1.33rem;
}

#p_detail footer div.left dl {
	width: 50%;
	float: left;
	font-size: 0.26rem;
	color: #333333;
	text-align: center;
	position: relative;
	margin-top: 0.2rem;
}

#p_detail footer div.left dl:after {
	content: '';
	position: absolute;
	background: url(../img2/lxq6.png) no-repeat center right;
	width: 1px;
	height: 0.45rem;
	top: 0.24rem;
	right: 0;
	z-index: 9999;
}


/*#p_detail footer div.left dl dd{
	margin-top: 0.1rem;
}*/

#p_detail footer div.left dl:last-child:after {
	display: none;
}

#p_detail footer div.left dl img {
	height: 0.45rem;
	width: auto;
}

#p_detail footer p.purchase {
	width: 50%;
	float: left;
	height: 1.33rem;
	line-height: 1.33rem;
	text-align: center;
	font-size: 0.42rem;
	color: #FFFFFF;
	background: #aa8250;
}


/*重置密码*/

.comform {
	width: 100%;
	overflow: hidden;
}

.comform form {
	width: 92%;
	margin: 0 auto;
	margin-top: 0.4rem;
}

.comform form div.cominpput {
	width: 100%;
	overflow: hidden;
	height: 1.2rem;
	line-height: 1.2rem;
	margin-bottom: 0.26rem;
	background: #fff;
	border-radius: 6px;
}

.comform form div.cominpput span {
	width: 1.05rem;
	float: left;
}

.comform form div span img {
	height: 0.48rem;
	width: auto;
	margin-left: 0.38rem;
	margin-top: 0.36rem;
}

.comform form div input {
	border: none;
	height: 100%;
	line-height: 1.2rem;
	font-size: 0.4rem;
	color: #333333;
	/*width: 78%;*/
}


/*[data-dpr="1"] .comform form div input{ 
font-size: 50px; 
} */

.comform form div i {
	width: 0.38rem;
	float: right;
	padding-right: 0.42rem;
	padding-left: 0.62rem;
}

.comform form div i img {
	vertical-align: middle;
	width: 0.38rem;
	height: auto;
	margin-right: 0.42rem;
}

.comform form a.btn {
	display: block;
	width: 100%;
	margin: 0 auto;
	border-radius: 6px;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.42rem;
	color: #FFFFFF;
	text-align: center;
	background: #aa8250;
	margin-top: 0.66rem;
}

#cgg_login form div input,
#cgg_resPwd form div input {
	width: 72%;
}


/*登录*/

#cgg_login p,
#cgg_reg p,
#cgg_reagin p {
	width: 100%;
	overflow: hidden;
}

#cgg_login p img,
#cgg_reg p img,
#cgg_reagin p img {
	height: 3.28rem;
	width: auto;
	display: block;
	margin: 0 auto;
	padding-top: 1.34rem;
	padding-bottom: 1.37rem;
}

#cgg_login i img {
	width: 0.42rem;
}

#cgg_login form div:first-child span img {
	height: 0.53rem;
	margin-top: 0.335rem;
}

#cgg_login ul.forget {
	color: #aa8250;
	font-size: 0.37rem;
	/*margin-top: 0.53rem;*/
	overflow: hidden;
}

#cgg_login ul.forget li:first-child {
	float: left;
	padding-top: 0.53rem;
}

#cgg_login ul.forget li:last-child {
	float: right;
	padding-top: 0.53rem;
}

#cgg_login ul.forget li:first-child img {
	height: 0.34rem;
	width: auto;
	vertical-align: text-top;
	margin-right: 0.16rem;
	margin-top: 3px;
}


/*注册*/

#cgg_reg form div:last-child span img {
	height: 0.6rem;
	margin-top: 0.3rem;
}

#cgg_fpwd form div input.code,
#cgg_reg form div input.code {
	width: 2.77rem;
	display: block;
	float: right;
	text-align: center;
	color: #aa8250;
	position: relative;
	font-size: 0.4rem;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	background: none;
	opacity: 1;
}

#cgg_fpwd form div input.code:disabled,
#cgg_reg form div input.code:disabled {
	color: #999999;
	opacity: 1;
	-webkit-text-fill-color: #999999;
}

#cgg_reg form div p.line,
#cgg_fpwd form div p.line {
	width: 1px;
	height: 0.66rem;
	margin-top: 0.26rem;
	float: right;
	background: #dddddd;
}

#cgg_reg form div i.code:after,
#cgg_fpwd form div i.code:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0.26rem;
	width: 1px;
	height: 0.66rem;
	background: url(../img/yzco.png) no-repeat center left;
	/*background: #ccc;*/
}

#cgg_reg form p.last,
#cgg_fpwd form p.last {
	color: #999999;
	margin-top: 0.53rem;
}

#treaty {
	margin-top: 0.4rem;
}

#treaty input {
	-webkit-appearance: none;
	width: 0.37rem;
	height: 0.37rem;
	float: left;
	background: url(../img/ucheck.png) no-repeat center;
	background-size: 100% auto;
}

#treaty input img {
	width: 100%;
	height: auto;
}

#treaty input:checked {
	background: url(../img/checked.png) no-repeat center;
	background-size: 100% auto;
}

#treaty p {
	float: left;
	width: auto;
	color: #999999;
	line-height: 0.4rem;
	margin-left: 0.26rem;
}

#treaty span {
	color: #aa8250;
}

#shandow {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	z-index: 90;
}

#shandow aside {
	position: absolute;
	background: #fff;
	z-index: 999;
	width: 83.4%;
	left: 8.3%;
	top: 9%;
}

#shandow p.xy {
	font-size: 0.48rem;
	color: #333333;
	text-align: center;
	height: 1.33rem;
	line-height: 1.33rem;
	border-bottom: 1px solid #dddddd;
}

#shandow ul {
	height: 1.2rem;
	line-height: 1.2rem;
	border-top: 1px solid #DDDDDD;
}

#shandow ul li {
	float: left;
	height: 100%;
	width: 49.8%;
	text-align: center;
	font-size: 0.42rem;
	color: #333333;
}

#shandow ul li:nth-of-type(1) {
	border-right: 1px solid #DDDDDD;
}

#shandow ul li:nth-of-type(2) {
	color: #aa8250;
}

#shandow p.con {
	width: 90%;
	margin: 0 auto;
	font-size: 0.37rem;
	line-height: 0.6rem;
}

#shandow p.con:nth-of-type(3) {
	padding-top: 0.92rem;
	padding-bottom: 0.32rem;
}

#shandow p.con:nth-of-type(2) {
	padding-top: 0.36rem;
}


/*注册成功*/

.commit,
.commit dl {
	width: 100%;
	overflow: hidden;
}

.commit dl {
	text-align: center;
}

#signUp dl dt {
	width: 3.94rem;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 3.14rem;
	padding-bottom: 0.97rem;
}

.commit dl dt img {
	width: 100%;
	height: auto;
	display: block;
}

#signUp dl dd:nth-of-type(1) {
	font-size: 0.53rem;
	color: #333333;
}

.commit dl dd:nth-of-type(2) {
	font-size: 0.42rem;
	color: #333333;
}

#signUp dl dd:nth-of-type(2) {
	margin-top: 0.36rem;
}

.commit a {
	width: 4.4rem;
	height: 1.04rem;
	line-height: 1.04rem;
	background: #FFFFFF;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 0.42rem;
	color: #aa8250;
	border-radius: 5px;
}

#signUp a {
	margin-top: 0.93rem;
}


/*订单提交成功*/

#sub_order dl dt {
	width: 4.06rem;
	text-align: center;
	margin: 0 auto;
	padding-top: 3.49rem;
	padding-bottom: 0.73rem;
}

#sub_order a {
	margin-top: 0.66rem;
}


/*马上预约*/

#imm_order dl dt {
	width: 4.04rem;
	text-align: center;
	margin: 0 auto;
	padding-top: 2.4rem;
	padding-bottom: 0.93rem;
}

#imm_order dl dd:nth-of-type(3) {
	font-size: 0.37rem;
	margin-top: 0.13rem;
}

#imm_order a {
	margin-top: 0.66rem;
}


/*新增地址内页*/

#add_new {
	width: 100%;
	overflow: hidden;
}

#add_new ul {
	width: 96%;
	padding-left: 4%;
	background: #FFFFFF;
	margin-top: 0.13rem;
}

#add_new ul li {
	width: 100%;
	overflow: hidden;
	padding: 0.4rem 0;
	border-bottom: 1px solid #efefef;
}

#add_new ul li:nth-of-type(3) {
	border: none;
}

#add_new ul li span {
	float: left;
	font-size: 0.4rem;
	color: #333333;
	width: 1.97rem;
}

#add_new ul li p {
	width: 75%;
	float: right;
	display: inline-block;
	padding-right: 0.4rem;
	font-size: 0.4rem;
	color: #666666;
	text-align: right;
	
}

#add_new a.btn,
#cgg_pay a.btn,
#complaint a.btn,
#siteList a.btn,
#feedBack a.btn {
	width: 92%;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.42rem;
	color: #FFFFFF;
	text-align: center;
	background: #aa8250;
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 0.4rem;
	left: 4%;
	border-radius: 5px;
}


/*投诉*/

#complaint dl {
	width: 96%;
	padding-left: 4%;
	line-height: 1.2rem;
	height: 1.2rem;
	background: #EDEDED;
	font-size: 0.4rem;
	color: #333333;
}

#complaint dl dt {
	float: left;
	width: 0.46rem;
	height: 0.4rem;
	margin-top: 0.4rem;
	margin-right: 0.26rem;
}

#complaint dl dt img {
	display: block;
	height: 100%;
	width: auto;
}

#complaint div.wordCount {
	width: 92%;
	padding: 0 4%;
	background: #FFFFFF;
	border: none;
	height: 7.97rem;
	position: relative;
}

#complaint div.wordCount textarea,
#feedBack div.wordCount textarea {
	width: 100%;
	border: none;
	resize: none;
	/*height: 100%;*/
	margin-top: 0.26rem;
	text-indent: 0.26rem;
	font-size: 0.4rem;
	height: 6.8rem;
}

#complaint span.wordwrap,
#feedBack span.wordwrap {
	position: absolute;
	bottom: 0.4rem;
	right: 0.4rem;
	font-size: 0.4rem;
	color: #999999;
}


/*支付*/

#cgg_pay,
#cgg_pay ul {
	width: 100%;
	overflow: hidden;
}

#cgg_pay ul li {
	padding: 0 0.4rem;
	background: #FFFFFF;
}

#cgg_pay ul li:nth-of-type(1) {
	font-size: 0.42rem;
	color: #333333;
	line-height: 1.13rem;
	font-weight: bold;
}

#cgg_pay ul li:nth-of-type(2) {
	font-size: 0.37rem;
	color: #333333;
	line-height: 0.37rem;
}

#cgg_pay ul li:nth-of-type(3),
#cgg_pay ul li a,
#cgg_pay ul li i {
	font-size: 0.37rem;
	color: #999999;
}

#cgg_pay ul li span {
	font-size: 0.37rem;
	color: #333333;
}

#cgg_pay ul li b {
	font-size: 0.42rem;
	color: #e11e00;
	margin-right: 0.8rem;
	display: inline-block;
}

#cgg_pay ul li:nth-of-type(4) {
	line-height: 1.18rem;
	border-top: 1px solid #eeeeee;
}

#cgg_pay ul li:nth-of-type(3) {
	line-height: 1.12rem;
}

#cgg_pay aside.order {
	margin-top: 0.13rem;
	font-weight: bold;
}

#cgg_pay aside.way {
	width: 92%;
	padding: 0.37rem 4%;
	overflow: hidden;
	background: #fff;
}

#cgg_pay aside.way dl {
	overflow: hidden;
}

#cgg_pay aside.way dl dt {
	width: 0.74rem;
	height: 0.74rem;
	float: left;
}

#cgg_pay aside.way dl dd {
	width: 0.533rem;
	height: 0.533rem;
	float: right;
	margin-top: 0.1rem;
}

#cgg_pay aside.way dl dt img {
	height: 0.74rem;
}

#cgg_pay aside.way dl dd input {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	background: url(../img/radiou.png) no-repeat center;
	border-radius: 50%;
	background-size: .52rem;
	border: none;
}

#cgg_pay aside.way dl dd input:checked {
	background: url(../img/radioc.png) no-repeat center;
	background-size: .52rem;
	border: none;
}


/*订单确认*/

#confirmation {
	width: 100%;
	overflow: hidden;
}

#confirmation header {
	overflow: hidden;
	background: #FFFFFF;
}

#confirmation header p {
	width: 92%;
	margin: 0 auto;
	font-size: 0.42rem;
	color: #333333;
	overflow: hidden;
	padding-top: 0.4rem;
}

#confirmation header p span {
	float: left;
}

#confirmation header p b {
	float: right;
	font-weight: 400;
}

#confirmation header dl {
	background: #fff;
	width: 96%;
	padding: 0.4rem 0;
	margin-left: 4%;
	overflow: hidden;
	position: relative;
}

#confirmation header dl:after {
	content: '';
	position: absolute;
	width: 0.18rem;
	height: 0.32rem;
	background: url(../img/rarrow.png) no-repeat center;
	background-size: 100% auto;
	right: 0.4rem;
	top: 0.52rem;
}

#confirmation header dl dt {
	float: left;
	width: 0.65rem;
}

#confirmation header dl dd {
	float: left;
	font-size: 0.4rem;
	color: #333333;
	width: 88%;
}

#confirmation header dl:nth-of-type(1) dt img {
	width: 0.37rem;
	height: auto;
	margin-top: 0.1rem;
}

#confirmation header dl:nth-of-type(2) dt img {
	width: 0.4rem;
	height: auto;
	margin-top: 0.1rem;
}

#confirmation header dl:nth-of-type(2) {
	border-top: 1px solid #eeeeee;
}

#confirmation img.fg {
	display: block;
	width: 100%;
	height: auto;
}

#confirmation aside.order {
	border-bottom: none;
	margin-top: 0.13rem;
}

#confirmation aside.order dd {
	font-size: 0.42rem;
	float: left;
	width: 68%;
}

#confirmation aside.top dl {
	overflow: hidden;
	width: 92%;
	padding: 0.32rem 4%;
	background: #f9f9f9;
	border-bottom: 1px solid #eeeeee;
}

#confirmation aside.top dl dt {
	width: 2.53rem;
	float: left;
	margin-right: 0.33rem;
}

#confirmation aside.top dl dt img {
	width: 100%;
	height: auto;
}

#confirmation aside.order dl:first-child {
	width: 100%;
	overflow: hidden;
}

#confirmation aside.top dl dd {
	font-size: 0.42rem;
	color: #333333;
	float: left;
	width: 68%;
}

#confirmation aside.top dl dd p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

#confirmation aside.top dl dd.money {
	margin-top: 0.66rem;
}

#confirmation aside.top dl dd.money span {
	float: left;
}

#confirmation aside.top dl dd.money b {
	float: right;
	font-weight: 400;
	letter-spacing: 5px;
}

#confirmation aside.top p,
#confirmation aside.top div.jf {
	position: relative;
	font-size: 0.4rem;
	color: #333333;
	line-height: 0.46rem;
	overflow: hidden;
	height: 0.46rem;
	padding: 0.4rem 0;
}

#confirmation aside.top p.yh:after {
	content: '';
	position: absolute;
	width: 0.18rem;
	height: 0.32rem;
	background: url(../img/rarrow.png) no-repeat center;
	background-size: 100% auto;
	right: 0.4rem;
	top: 0.46rem;
}

#confirmation aside.top p img,
#confirmation aside.top div.jf img {
	width: 2rem;
	height: auto;
	float: left;
	margin-left: 0.4rem;
}

#confirmation aside.top p span,
#confirmation aside.top div.jf span {
	float: right;
	margin-right: 0.74rem;
}

#switch1 {
	width: 1.1rem;
	height: 0.53rem;
	border-radius: 50px;
	float: right;
	margin-right: 0.4rem;
	position: relative;
}

#switch2 {
	width: 0.45rem;
	height: 0.45rem;
	border-radius: 50%;
	position: absolute;
	background: white;
	/*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);*/
}

#confirmation .open1 {
	background: rgba(0, 184, 0, 0.8);
}

#confirmation .open2 {
	top: 2px;
	right: 1px;
}

#confirmation .close1 {
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-left: transparent;
}

#confirmation .close2 {
	left: 0px;
	top: 0px;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

#confirmation aside.top div.jf span {
	margin-right: 0.26rem;
}

#confirmation aside.top div.jf {
	height: 0.53rem;
	line-height: 0.53rem;
	border-top: 1px solid #eeeeee;
	background: #FFFFFF;
}

#confirmation aside.top p.yh {
	background: #FFFFFF;
	overflow: hidden;
}

#confirmation aside.bottom p:first-child {
	font-size: 0.4rem;
	color: #333333;
	line-height: 1.17rem;
	background: #FFFFFF;
	width: 92%;
	padding: 0 4%;
	margin-top: 0.13rem;
	overflow: hidden;
}

#confirmation aside.bottom p:first-child span {
	float: right;
	color: #999999;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	line-height: 0.5rem;
	width: 70%;
	text-align: right;
}

#confirmation aside.bottom p:first-child input {
	float: right;
	color: #999999;
	resize: none;
	border: none;
	line-height: 1.17rem;
	width: 57%;
	text-align: left;
}

#confirmation aside.bottom ul {
	font-size: 0.4rem;
	color: #333333;
	line-height: 1.17rem;
	background: #FFFFFF;
	width: 96%;
	padding-left: 4%;
	margin-top: 0.13rem;
	margin-bottom: 1.24rem;
}

#confirmation aside.bottom ul li {
	overflow: hidden;
	border-bottom: 1px solid #eeeeee;
}

#confirmation aside.bottom ul span {
	float: right;
	margin-right: 0.4rem;
}

#confirmation aside.bottom ul li span.red {
	color: #e11e00;
}

#confirmation aside.bottom ul li:last-child {
	border-bottom: 0;
}

#confirmation footer {
	position: fixed;
	line-height: 1.24rem;
	height: 1.24rem;
	width: 100%;
	background: #FFFFFF;
	z-index: 9999;
	bottom: 0;
	border-top: 1px solid #eeeeee;
}

#confirmation footer a {
	float: right;
	height: 100%;
	text-align: center;
	line-height: 1.24rem;
	background: #aa8250;
	font-size: 0.42rem;
	color: #FFFFFF;
	width: 4rem;
}

#confirmation footer p {
	float: left;
	margin-left: 0.4rem;
	font-size: 0.42rem;
	color: #333333;
}

#confirmation footer p span {
	color: #e11e00;
	font-weight: bold;
}


/*地址列表*/

#siteList,
#siteList ul,
#siteList ul li,
#shopCar ul,
#shopCar {
	width: 100%;
	overflow: hidden;
}

#siteList ul li {
	padding-top: 0.33rem;
	margin-bottom: 0.13rem;
	background: #FFFFFF;
}

#siteList ul li input,
#shopCar ul li input,
#shopCar div.fixedB div input,
#feedBack ul li input {
	float: left;
	margin: 0 0.39rem;
	width: 0.533rem;
	height: 0.533rem;
	cursor: pointer;
	/*width: 0.56rem;
	height: 0.56rem;*/
	-webkit-appearance: none;
	background: url(../img/radiou.png)no-repeat center;
	background-size: .52rem;
	/*background-size: 100% auto;*/
	border: none;
}

#siteList ul li input:checked,
#shopCar ul li input:checked,
#shopCar div.fixedB div input:checked,
#feedBack ul li input:checked {
	background: url(../img/radioc.png)no-repeat center;
	background-size: 100% auto;
}

#siteList ul li aside,
#shopCar ul li aside {
	float: left;
	width: 86.5%;
	border-bottom: 1px solid #eeeeee;
}

#siteList ul li aside h3 {
	font-size: 0.42rem;
	color: #333333;
	margin-right: 0.4rem;
	line-height: 0.42rem;
}

#siteList ul li aside p {
	font-size: 0.37rem;
	color: #666666;
	/*line-height: 1.14rem;*/
	margin-right: 0.4rem;
	padding: 0.4rem 0;
}

#siteList ul li div a {
	width: 1.76rem;
	height: 0.77rem;
	line-height: 0.77rem;
	display: inline-block;
	float: right;
	font-size: 0.37rem;
	color: #333333;
	border-radius: 6px;
	border: 1px solid #bbbbbb;
	text-align: center;
	margin: 0.26rem 0;
}

#siteList ul li div a:nth-of-type(2) {
	margin-right: 0.4rem;
}

#siteList ul li div a:nth-of-type(1) {
	margin-right: 0.4rem;
}

#siteList ul li div a.addborder {
	color: #aa8250;
	border: 1px solid #aa8250;
}

#siteList ul li div {
	overflow: hidden;
	width: 100%;
}


/*购物车*/

#shopCar aside.top dl dt {
	width: 2.34rem;
	float: left;
	margin-right: 0.4rem;
}

#shopCar aside.top dl dt img {
	width: 100%;
	height: auto;
}

#shopCar aside.top dl dd {
	font-size: 0.42rem;
	color: #333333;
	float: left;
	width: 67%;
}

#shopCar aside.top dl dd.money {
	margin-top: 0.44rem;
	line-height: 0.42rem;
}

#shopCar aside.top dl dd {
	font-size: 0.42rem;
	color: #333333;
	float: left;
	width: 67%;
}

#shopCar aside.top dl dd.title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

#shopCar aside.top dl dd.money span {
	float: left;
}

#shopCar aside.top dl dd.money span.jg {
	height: 0.4rem;
	margin-top: 0.26rem;
	font-weight: 400;
}

#shopCar aside.top dl dd.money b.price {
	font-weight: 400;
}

#shopCar ul.total li input {
	margin-right: 0.26rem;
	margin-left: 0;
	margin-top: 0.9rem;
	border: none;
}

#shopCar ul.total li aside {
	width: 90.7%;
	border-bottom: 0;
}

#shopCar ul.total li aside dl {
	width: 100%;
	overflow: hidden;
	/*height: 2.37rem;*/
}

#shopCar ul.total li {
	width: 92%;
	padding: 0.4rem 4%;
	overflow: hidden;
	border-bottom: 1px solid #eeeeee;
	background: #FFFFFF;
}

#shopCar aside.top dl dd.money div {
	overflow: hidden;
	float: right;
	width: 2.56rem;
}

#shopCar aside.top dl dd.money div span {
	width: 0.64rem;
	height: 0.64rem;
	line-height: 0.64rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	float: left;
	color: #999999;
	border: 1px solid #bbbbbb;
	display: block;
}

#shopCar aside.top dl dd.money div span.disable {
	background: #EDEDED;
	color: #fff;
	border: 1px solid #EDEDED;
}

#shopCar aside.top dl dd.money div input[type='text'] {
	width: 0.96rem;
	margin: 0 0.1rem;
	height: 0.66rem;
	line-height: 0.66rem;
	border: none;
	float: left;
	text-align: center;
	border-radius: 0;
	border: none;
	background: none;
}

#shopCar div.fixedB {
	position: fixed;
	line-height: 1.24rem;
	height: 1.24rem;
	width: 100%;
	background: #f1f1f1;
	z-index: 9999;
	bottom: 1.33rem;
}

#shopCar div.fixedB a {
	float: right;
	height: 100%;
	text-align: center;
	line-height: 1.24rem;
	background: #aa8250;
	font-size: 0.42rem;
	color: #FFFFFF;
	width: 4rem;
}

#shopCar div.fixedB p {
	float: left;
	margin-left: 0.4rem;
	font-size: 0.42rem;
	color: #333333;
}

#shopCar div.fixedB p span {
	color: #e11e00;
	font-weight: bold;
}

#shopCar div.fixedB div {
	width: 1.6rem;
	float: left;
	font-size: 0.37rem;
	color: #333333;
	margin-left: 0.4rem;
}

#shopCar div.fixedB div input {
	margin: 0;
	float: left;
	margin-right: 0.25rem;
	margin-top: 0.33rem;
	border: none;
}

#shopCar ul {
	margin-bottom: 2.57rem;
	;
}


/*服务顾问*/

#cgg_ser #com_content {
	margin-top: 0;
}

#cgg_ser #com_content .comlist .bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #FFFFFF;
}

#cgg_ser .comlist .center {
	width: 100%;
	overflow: hidden;
	margin-top: 0.13rem;
}

#cgg_ser .comlist .center ul {
	overflow: hidden;
	padding-bottom: 0.13rem;
}

#cgg_ser .comlist .center ul,
#cgg_ser .comlist .center p {
	width: 92%;
	margin: 0 auto;
}

#cgg_ser .comlist .center ul li {
	width: 22.825%;
	float: left;
	margin-right: 0.26rem;
	margin-bottom: 0.26rem;
}

#cgg_ser .comlist .center ul li img {
	width: 100%;
	display: block;
}

#cgg_ser .comlist .center ul li:nth-of-type(4n) {
	margin-right: 0;
}

#cgg_ser .comlist .center p {
	line-height: 1.2rem;
	color: #333333;
	font-size: 0.4rem;
	text-align: left;
}

#cgg_ser .comlist .center div.tip {
	width: 92%;
	border-top: 1px solid #eeeeee;
	background: #FFFFFF;
	overflow: hidden;
	padding: 0.4rem 4%;
}

#cgg_ser .comlist .center div.tip span {
	float: right;
	font-size: 0.4rem;
	color: #666666;
	width: 70%;
	text-align: left;
}

#cgg_ser .comlist .center div.tip i {
	font-style: normal;
	float: left;
	font-size: 0.4rem;
	color: #333333;
	width: 2.66rem;
	text-align: left;
}

#cgg_ser .comlist {
	background: none;
}

#cgg_ser .comlist .top,
#cgg_ser .comlist .center {
	background: #fff;
}

#cgg_ser .comlist .top .center h3 {
	font-weight: 600;
	margin-bottom: 0.26rem;
}

#cgg_ser .comlist .top .center i {
	line-height: 0.37rem;
}

#cgg_ser .comlist .top .center i:nth-of-type(1) {
	margin-bottom: 0.06rem;
}


/*分类*/

#classify {
	width: 100%;
	overflow: hidden;
	overflow-y: hidden;
}

#classify aside.left {
	width: 26.6%;
	height: 100%;
	position: fixed;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	background: #fff;
	display: inline-block;
	overflow-y: auto;
	height: 8.89rem;
}

#classify aside.right {
	float: right;
	width: 73.3%;
	/*margin-left: 2.66rem;*/
	height: 100%;
	overflow: auto;
	margin-left: 2.66rem;
	margin-bottom: 1.4rem;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

#classify aside.right ul {
	overflow: hidden;
}

#classify aside.right li {
	width: 44.55%;
	float: left;
	font-size: 0.37rem;
	line-height: 0.37rem;
	padding-bottom: 0.4rem;
	background: #FFFFFF;
	margin-top: 0.26rem;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 6px;

}

#classify aside.right dl {
	width: 100%;
}

#classify aside.right dl dt {
	height: 3.26rem;
	overflow: hidden;
}

#classify aside.right li:nth-of-type(odd) {
	margin: 0 3.63%;
	margin-top: 0.26rem;
}

#classify aside.right li img {
	display: block;
	width: 100%;
}

#classify aside.right li dd {
	width: 90%;
	margin: 0 auto;
}

#classify aside.right li dd.title {
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 0.86rem !important;
}

#classify aside.right li dd:last-child {
	color: #aa8250;
}

#classify aside.left ul {
	height: 100%;
	overflow: auto;
}

#classify aside.left .swiper-slide,
#classify aside.left ul li {
	height: 1.6rem !important;
	line-height: 1.6rem !important;
	font-size: 0.4rem;
	color: #333333;
	text-align: center;
	background: #FFFFFF;
	border-bottom: 1px solid #eeeeee;
	/*width: 2.4rem;*/
	width: 90.22%;
	margin-right: 0.26rem;
}

#classify .swiper-container {
	height: auto !important;
	height: 100%;
	overflow: auto;
}

#classify .swiper-container div.addboder,
#classify aside.left ul li.addboder {
	width: 100%;
	background: #aa8250;
	color: #FFFFFF;
}


/*意见反馈*/

#feedBack aside.top {
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
}

#feedBack ul {
	width: 96%;
	overflow: hidden;
	padding: 0.34rem 0;
	margin-left: 4%;
	border-bottom: 1px solid #eeeeee;
}

#feedBack ul li {
	float: left;
	width: 33.333%;
	text-align: center;
	font-size: 0.37rem;
	color: #333333;
	height: 0.56rem;
	line-height: 0.56rem;
}

#feedBack ul li input {
	margin-left: 0;
	margin-right: 0.26rem;
}

#feedBack ul li span {
	float: left;
}

#feedBack div.wordCount {
	width: 92%;
	padding: 0 4%;
	background: #FFFFFF;
	border: none;
	height: 4.4rem;
	position: relative;
}

#feedBack textarea {
	font-size: 0.37rem !important;
	height: 3.28rem !important;
}


/*我的消息*/

#myNews,
#myNews ul,
#collect,
#collect ul {
	width: 100%;
	overflow: hidden;
	height: 100%;
}
#myNews ul li{
	overflow: hidden;
}
#myNews span.round {
	width: 0.21rem;
	height: 0.21rem;
	border-radius: 50%;
	margin: 0 0.4rem;
	float: left;
	background: #aa8250;
	margin-top: 0.45rem;
}

#myNews span.greyR {
	background: #c2c2c2;
}

#myNews aside {
	width: 8.99rem;
	float: left;
	border-bottom: 1px solid #EEEEEE;
}

#myNews aside span {
	font-size: 0.37rem;
	color: #999999;
	line-height: 0.37rem;
	padding-top: 0.4rem;
	padding-bottom: 0.53rem;
	display: block;
}

#myNews aside h3 {
	font-size: 0.42rem;
	color: #333333;
	line-height: 0.42rem;
	margin-bottom: 0.4rem;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#myNews aside p {
	font-size: 0.4rem;
	color: #666666;
	line-height: 0.4rem;
	margin-bottom: 0.53rem;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*我的收藏*/

#collect ul li {
	width: 92%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0.4rem 4%;
	margin-bottom: 0.13rem;
	background: #FFFFFF;
}

#collect span.img {
	width: 2.34rem;
	height: 2.34rem;
	float: left;
	margin-right: 0.4rem;
	overflow: hidden;
}

#collect span.img img {
	width: 100%;
	height: 100%;
	display: block;
}

#collect aside {
	float: left;
	/*width: 6.46rem;*/
	width: 69.6%;
	position: relative;
	height: 2.34rem;
}

#collect aside h3,
#collect aside b {
	font-size: 0.42rem;
	color: #333333;
	font-weight: 400;
}

#collect aside h3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

#collect aside b {
	display: block;
	margin-top: 0.76rem;
	line-height: 0.42rem;
}

#collect aside b span {
	font-size: 0.37rem;
	color: #333333;
}

#collect aside i {
	width: 0.48rem;
	height: 0.48rem;
	display: block;
	position: absolute;
	/*bottom: 0.13rem;*/
	bottom: -0.27rem;
	right: -0.4rem;
	z-index: 99;
	padding: 0.4rem;
}

#collect aside i img {
	width: 100%;
	height: auto;
	display: block;
}

#cgg_fpwd form .pwd input {
	width: 87%;
}

#cgg_fpwd form .conpwd input {
	width: 57%;
}
#cgg_reagin form .conpwd input{
	width: 72%;
}
@media screen and (max-width: 376px) {
	#cgg_login ul.forget li:first-child img {
		margin-top: 0 !important;
	}
}