@charset "UTF-8";
html {
  font-size: 20;
  background: #ededed; }

* {
  font-family: "微软雅黑"; }

/*报名*/
.apply {
  background: #fff; }
  .apply li {
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: 1px solid #eeeeee; }
    .apply li span {
      display: inline-block;
      width: 3rem;
      font-size: 0.75rem;
      color: #333333;
      margin-right: 0.5rem; }
    .apply li input {
      display: inline-block;
      width: 12rem;
      height: 1.5rem;
      border: 0px;
      outline: none;
      text-indent: 0.25rem;
      font-size: 0.75rem;
      color: #999; }

.apply_sub {
  display: block;
  width: 17.25rem;
  height: 2.25rem;
  font-size: 0.8rem;
  color: #fff;
  line-height: 2.25rem;
  text-align: center;
  background: #aa8250;
  border-radius: 5px;
  position: fixed;
  bottom: 0.75rem;
  left: 0.75rem; }

/*海参泡发页面*/
.soak_content {
  background: #fff;
  padding: 0.75rem; }
  .soak_content h3 {
    font-size: 0.95rem;
    color: #333333;
    text-align: center;
    font-weight: bold; }
  .soak_content p {
    font-size: 0.6rem;
    color: #999999;
    line-height: 1rem;
    margin-bottom: 1rem;
    text-align: center; }
  .soak_content .pic {
    width: 100%;
    height: 10.75rem; }
    .soak_content .pic img {
      width: 100%; }
  .soak_content .content {
    text-align: justify;
    font-size: 0.8rem;
    color: #333333;
    line-height: 1.4rem;
    margin-bottom: 0;
    margin-top: 0.25rem; }

.soak_comm {
  background: #fff;
  padding-left: 0.75rem; }
  .soak_comm dt {
    line-height: 1.55rem;
    margin-top: 0.5rem; }
    .soak_comm dt img {
      width: 0.15rem;
      height: 0.8rem;
      margin-right: 0.5rem;
      margin-bottom: 0.15rem;
      vertical-align: middle; }
    .soak_comm dt span {
      font-size: 0.8rem;
      color: #333333;
      font-weight: bold; }
  .soak_comm dd {
    padding-top: 0.75rem; }
    .soak_comm dd .user_head {
      width: 2.25rem; }
      .soak_comm dd .user_head img {
        width: 2rem;
        height: 2rem; }
    .soak_comm dd .comm_cont {
      width: 14.5rem;
      padding: 0rem 0.75rem 0.75rem 0rem; }
      .soak_comm dd .comm_cont .name span {
        font-size: 0.7rem;
        color: #666666; }
      .soak_comm dd .comm_cont .name .time {
        font-size: 0.6rem;
        color: #999999; }
      .soak_comm dd .comm_cont .cont {
        display: inline-block;
        margin-top: 0.25rem;
        font-size: 0.8rem;
        color: #333333;
        line-height: 1.15rem;
        text-align: justify; }

.soak_load {
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 2.5rem; }
  .soak_load img {
    width: 0.75rem;
    height: 0.75rem;
    vertical-align: middle;
    margin-right: 0.15rem;
    margin-bottom: 0.1rem; }
  .soak_load span {
    font-size: 0.7rem;
    color: #666666;
    vertical-align: middle; }

/*底部*/
.soak_footer {
  background: #fff;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  position: fixed;
  bottom: 0;
  left: 0; }
  .soak_footer .fl {
    width: 50%;
    text-align: center;
    line-height: 2.5rem; }
    .soak_footer .fl img {
      width: 1.2rem;
      height: 0.9rem;
      vertical-align: middle;
      margin-right: 0.25rem; }
    .soak_footer .fl a {
      font-size: 0.8rem;
      color: #333333;
      vertical-align: middle; }
    .soak_footer .fl i {
      float: right;
      height: 0.85rem;
      border-right: 1px solid #dfdfdf;
      margin-top: 0.825rem; }
  .soak_footer .phone img {
    width: 0.95rem;
    height: 0.925rem; }

/*海参烹饪页面*/
.cuisine_step {
  background: #fff;
  padding: 0rem 0rem 0.75rem 0.75rem; }
  .cuisine_step li {
    padding: 0.75rem 0.75rem 0.75rem 0rem; }
    .cuisine_step li .step {
      line-height: 1.25rem; }
      .cuisine_step li .step i {
        display: inline-block;
        margin-right: 0.3rem;
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background: #b49682;
        margin-bottom: 0.15rem; }
      .cuisine_step li .step span {
        font-size: 0.8rem;
        color: #333;
        font-weight: bold; }
    .cuisine_step li p {
      font-size: 0.8rem;
      color: #333;
      line-height: 1.4rem;
      text-align: justify; }

.cuis_lb {
  padding-bottom: 0.75rem; }
  .cuis_lb dd .lb .swiper-wrapper .swiper-slide {
    width: 6.25rem;
    height: 6.25rem;
    position: relative; }
    .cuis_lb dd .lb .swiper-wrapper .swiper-slide img {
      width: 100%; }
    .cuis_lb dd .lb .swiper-wrapper .swiper-slide p {
      position: absolute;
      top: 1.625rem;
      left: 29%;
      font-size: 0.7rem;
      color: #fff;
      line-height: 2rem;
      border-bottom: 2px solid #fff; }

/*禁忌页面*/
.taboo .taboo_cont {
  padding: 0.75rem 0.75rem 0.75rem 0rem; }
  .taboo .taboo_cont .lf {
    float: left;
    width: 5rem;
    height: 3.5rem; }
    .taboo .taboo_cont .lf img {
      width: 4.4rem;
      height: 3.5rem; }
  .taboo .taboo_cont .rt {
    width: 12.25rem;
    float: left; }
    .taboo .taboo_cont .rt h3 {
      font-size: 0.8rem;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
    .taboo .taboo_cont .rt p {
      margin-top: 0.3rem;
      font-size: 0.7rem;
      color: #666;
      line-height: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }

/*预约页面*/
.acti_pic {
  width: 100%;
  height: 10rem; }
  .acti_pic img {
    width: 100%; }

.acti_introduce {
  background: #fff; }
  .acti_introduce dt {
    padding-left: 0.75rem;
    line-height: 2.25rem; }
    .acti_introduce dt img {
      width: 0.15rem;
      height: 0.8rem;
      margin-right: 0.5rem;
      margin-bottom: 0.1rem;
      vertical-align: middle; }
    .acti_introduce dt span {
      font-size: 0.8rem;
      color: #333333;
      font-weight: bold;
      vertical-align: middle; }
  .acti_introduce dd {
    font-size: 0.8rem;
    color: #333333;
    padding: 0.75rem;
    text-align: justify;
    line-height: 1.4rem; }

.acti_activity dd {
  margin-left: 0.75rem;
  padding: 0;
  padding-right: 0.75rem;
  line-height: 2rem; }
  .acti_activity dd span {
    font-size: 0.7rem;
    color: #333; }
  .acti_activity dd a {
    float: right;
    display: inline-block; }
    .acti_activity dd a span {
      color: #666666;
      margin-right: 0.25rem; }
    .acti_activity dd a img {
      width: 0.4rem;
      height: 0.7rem;
      vertical-align: middle; }
  .acti_activity dd .phone_nem {
    color: #666666; }
  .acti_activity dd .price {
    display: inline-block;
    line-height: 0.9rem;
    text-align: right;
    font-size: 0.8rem;
    color: #e11e00;
    margin-top: 0.35rem;
    margin-bottom: 0.25rem; }
    .acti_activity dd .price span {
      font-size: 0.7rem;
      color: #999999; }

.acti_route {
  padding-right: 0.75rem;
  font-size: 0.7rem;
  color: #999999;
  text-align: right;
  line-height: 1.6rem; }

.acti_pay {
  display: block;
  margin: 0rem 0.75rem 0.75rem 0.75rem;
  background: #aa8250;
  font-size: 0.8rem;
  color: #fff;
  line-height: 2.25rem;
  text-align: center;
  border-radius: 3px; }

/*微信详情*/
.wx_deta {
  background: #fff;
  padding: 0.25rem 0rem 0.5rem 0rem; }
  .wx_deta li {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    font-size: 0.8rem;
    color: #333333;
    line-height: 1.5rem;
    text-align: justify; }

/*活动列表*/
#activity_content {
  margin-bottom: 2.25rem; }

.activity_content {
  background: #fff;
  padding-bottom: 0.5rem; }
  .activity_content .pic {
    width: 100%;
    height: 10rem;
    position: relative; }
    .activity_content .pic img {
      width: 100%; }
    .activity_content .pic a {
      display: block;
      padding: 0.4rem 0.75rem 0.4rem 0.75rem;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0.75rem;
      right: 0.75rem;
      font-size: 0.7rem;
      color: #fff;
      border-radius: 35px; }
    .activity_content .pic .bg_col {
      background: #fff;
      color: #666666; }
  .activity_content dl {
    padding: 0rem 0.75rem 0rem 0.75rem;
    background: #fff; }
    .activity_content dl dt {
      font-size: 0.8rem;
      color: #333333;
      line-height: 2.2rem; }
    .activity_content dl .times {
      line-height: 1.15rem; }
      .activity_content dl .times .time {
        width: 3.25rem;
        font-size: 0.7rem;
        color: #666666;
        text-align: justify;
        margin-right: 0.15rem; }
      .activity_content dl .times span {
        font-size: 0.7rem;
        color: #333333; }
      .activity_content dl .times .line {
        display: inline-block;
        width: 11.5rem;
        height: 0.25rem;
        background: #ededed;
        border-radius: 20px;
        line-height: 0rem;
        margin-right: 0.15rem;
        margin-bottom: 0.1rem; }
        .activity_content dl .times .line .num {
          display: inline-block;
          width: 1.25rem;
          height: 0.25rem;
          background: #b49682;
          border-radius: 20px; }
      .activity_content dl .times .nums {
        font-size: 0.6rem;
        color: #666666; }

.activity_entrance {
  display: block;
  width: 100%;
  line-height: 2.25rem;
  background: #fff;
  text-align: center;
  font-size: 0.7rem;
  color: #666666;
  position: fixed;
  bottom: 0;
  left: 0; }
  .activity_entrance img {
    width: 0.675rem;
    height: 0.675rem;
    vertical-align: middle;
    margin-left: 0.25rem;
    margin-bottom: 0.1rem; }

/*海参下午茶*/
.afternoon_tea {
  padding-bottom: 0.75rem;
  margin-bottom: 2.85rem; }
  .afternoon_tea dd {
    padding-right: 0.75rem;
    position: relative; }
    .afternoon_tea dd img {
      width: 100%; }
    .afternoon_tea dd .posi {
      position: absolute;
      left: 0;
      top: 4.25rem;
      width: 100%;
      text-align: center; }
      .afternoon_tea dd .posi p {
        font-size: 1.1rem;
        color: #fff; }
      .afternoon_tea dd .posi span {
        font-size: 0.8rem;
        color: #fff; }

.after_footer .tableware img {
  width: 0.75rem;
  height: 0.85rem; }
.after_footer .friend img {
  width: 0.85rem;
  height: 0.875rem; }

.share {
  background: #fff; }
  .share li {
    line-height: 2.25rem; }
    .share li span {
      font-size: 0.75rem;
      color: #333333; }
    .share li .fr {
      font-size: 0.75rem;
      color: #666666; }
      .share li .fr img {
        width: 0.4rem;
        height: 0.7rem;
        margin-left: 0.25rem;
        vertical-align: middle;
        margin-bottom: 0.1rem; }

.share_content {
  background: #fff;
  padding: 0.75rem; }
  .share_content span {
    float: left;
    width: 3.75rem;
    font-size: 0.75rem;
    color: #333;
    line-height: 0.95rem; }
  .share_content textarea {
    width: 13.5rem;
    resize: none;
    font-size: 0.75rem;
    color: #999999;
    border: 0;
    line-height: 0.95rem; }

.add_img {
  background: #fff;
  padding: 0.75rem 0.75rem 0.25rem 0.75rem; }
  .add_img div {
    float: left;
    width: 3.9rem;
    height: 3.9rem; }
    .add_img div img {
      width: 100%; }

.share_release {
  display: block;
  background: #aa8250;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  line-height: 2.25rem;
  margin: 0rem 0.75rem 0.75rem 0.75rem;
  margin-top: 3.5rem;
  border-radius: 5px; }

.evaluate_top {
  height: 4.75rem;
  background: #b49682; }
  .evaluate_top .search {
    height: 1.5rem;
    background: #fff;
    margin: 0.5rem 0.75rem 0.5rem 0.75rem;
    position: relative;
    border-radius: 3px; }
    .evaluate_top .search .show {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
      line-height: 1.5rem; }
      .evaluate_top .search .show img {
        width: 0.6rem;
        height: 0.625rem; }
      .evaluate_top .search .show span {
        font-size: 0.7rem;
        color: #999999; }
    .evaluate_top .search .ipt {
      width: 90%;
      position: relative;
      z-index: 999;
      background: none;
      border: 0px;
      line-height: 1.5rem;
      font-size: 0.7rem;
      color: #999999;
      text-indent: 0.5rem; }
  .evaluate_top .sele {
    border-top: 1px solid #c3ab9b;
    line-height: 2.2rem; }
    .evaluate_top .sele select {
      width: 35%;
      font-size: 0.8rem;
      color: #fff;
      background: none;
      margin-top: 0.5rem;
      -webkit-appearance: none;
      padding-right: 0.35rem;
      background: url("../images/jt.png") no-repeat scroll right center transparent;
      outline: none;
      background-size: 8px 4px;
      border: 0px; }
    .evaluate_top .sele .sel {
      margin-left: 1.5rem; }
    .evaluate_top .sele .line {
      display: block;
      width: 0.25rem;
      height: 0.75rem;
      border-right: 1px solid #d2c0b4;
      margin: 0 auto;
      margin-top: 0.8rem; }

/*我要泡发页面*/
.soak li {
  height: auto; }
  .soak li span {
    width: auto;
    margin-right: 0; }
  .soak li input {
    text-align: right;
    height: 1.5rem;
    margin-top: 0.35rem; }
  .soak li .fr img {
    width: 0.4rem;
    height: 0.7rem;
    vertical-align: middle;
    margin-bottom: 0.15rem; }
  .soak li .fr span {
    width: auto;
    margin-right: 0.5rem; }
.soak .so_boxes .fr i {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #e5e5e5;
  font-size: 1.1rem;
  color: #999;
  font-family: "";
  text-align: center;
  line-height: 1.2rem;
  border-radius: 50%; }
.soak .so_boxes .fr span {
  display: inline-block;
  width: 1.75rem;
  text-align: center;
  margin: 0; }
.soak .require textarea {
  width: 13.75rem;
  resize: none;
  margin-top: 0.6rem;
  margin-left: 0.5rem;
  font-size: 0.75rem;
  color: #333;
  border: 0; }

.soak_sub {
  display: block;
  width: 17.25rem;
  height: 2.25rem;
  font-size: 0.8rem;
  color: #fff;
  line-height: 2.25rem;
  text-align: center;
  background: #aa8250;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

/*泡发页面2*/
.soak_1 .city {
  margin-left: 0.75rem;
  padding-right: 0.75rem; }
.soak_1 .info_site {
  padding-bottom: 0.5rem;
  overflow: hidden; }
  .soak_1 .info_site .site {
    float: right;
    display: inline-block;
    width: 12.75rem;
    font-size: 0.7rem;
    color: #666;
    line-height: 0.85rem;
    margin-top: 0.65rem;
    text-align: justify; }

/*积分*/
.integral {
  height: 12.05rem;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  border-bottom: 1px solid #eeeeee; }
  .integral .explain {
    text-align: right;
    font-size: 0.7rem;
    color: #fff;
    line-height: 2.25rem; }
  .integral .explain_num {
    font-size: 3rem;
    color: #fff;
    line-height: 5.25rem;
    text-align: center; }
  .integral .explain_record {
    margin-top: 2.75rem; }
    .integral .explain_record img {
      width: 0.15rem;
      height: 0.8rem;
      vertical-align: middle;
      margin: 0rem 0.25rem 0.15rem 0rem; }
    .integral .explain_record span {
      font-size: 0.8rem;
      color: #333;
      font-weight: bold; }

.record_list {
  padding-left: 0.75rem; }
  .record_list li {
    padding-right: 0.75rem;
    height: 3.4rem;
    border-bottom: 1px solid #eee; }
    .record_list li h3 {
      float: right;
      margin-top: 1.05rem;
      font-size: 0.8rem;
      color: #00a81c; }
    .record_list li p {
      font-size: 0.7rem;
      color: #999999; }
    .record_list li span {
      display: inline-block;
      margin-top: 0.6rem;
      font-size: 0.8rem;
      color: #333333; }

/*弹窗*/
.in_show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .in_show dl {
    width: 15.5rem;
    margin: 0 auto;
    background: #FFF;
    margin-top: 4rem;
    padding: 0.5rem 0rem 1rem 0rem;
    border-radius: 5px; }
    .in_show dl dt {
      text-align: center;
      position: relative;
      padding: 0.5rem 0.75rem 1rem 0.75rem;
      border-bottom: 1px solid #dddddd; }
      .in_show dl dt .close {
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 0.25rem;
        top: -0.25rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem; }
      .in_show dl dt span {
        font-size: 0.9rem;
        color: #333; }
    .in_show dl dd {
      margin-top: 1rem;
      overflow: hidden;
      line-height: 1rem; }
      .in_show dl dd div {
        width: 12.75rem;
        font-size: 0.75rem;
        color: #333;
        float: right;
        text-align: justify; }
      .in_show dl dd i {
        display: inline-block;
        font-size: 0.9rem;
        color: #aa8250; }

/*优惠券*/
.dis_coupon {
  margin: 0.75rem 0.75rem 0rem 0.75rem;
  height: 5rem; }
  .dis_coupon .dis_sum {
    display: inline-block;
    width: 4.6rem;
    text-align: center;
    font-size: 0.8rem;
    color: #b59681;
    line-height: 5rem;
    float: left; }
    .dis_coupon .dis_sum i {
      font-size: 2rem;
      color: #b59681; }
  .dis_coupon .dis_explain {
    float: left;
    margin: 1.375rem 0rem 0rem 1.25rem; }
    .dis_coupon .dis_explain span {
      font-size: 0.7rem;
      color: #999; }
    .dis_coupon .dis_explain p {
      font-size: 0.8rem;
      color: #333; }
  .dis_coupon .dis_use {
    display: block;
    font-size: 0.7rem;
    color: #fff;
    width: 0.75rem;
    line-height: 0.8rem;
    padding: 0.85rem 0.85rem 0rem 0.75rem;
    vertical-align: middle; }

.dis_bg {
  background: url(../images/bg_1.png) no-repeat;
  background-size: cover; }

#dis_bg {
  background: url(../images/bg_2.png) no-repeat;
  background-size: cover; }
  #dis_bg .dis_sum {
    color: #bbbbbb; }
    #dis_bg .dis_sum i {
      color: #bbbbbb; }
  #dis_bg .dis_use {
    padding-top: 1.35rem; }

/*个人信息*/
.info li .fr span img {
  width: 2.5rem;
  height: 2.5rem;
  border: 50%; }
.info .pad_a {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem; }

/*信息编辑*/
.compile li input {
  width: 13.5rem;
  height: 1.5rem;
  padding-left: 1.5rem; }

/*收货地址*/
.site_list {
  background: #fff;
  padding: 0.5rem 0rem 0rem 0.75rem; }
  .site_list li {
    overflow: hidden;
    border-bottom: 1px solid #ededed;
    padding-right: 0.75rem; }
    .site_list li h3 {
      font-size: 0.8rem;
      color: #333;
      line-height: 1.25rem; }
    .site_list li p {
      font-size: 0.7rem;
      color: #666666;
      line-height: 0.85rem;
      margin-bottom: 0.6rem;
      margin-top: 0.4rem; }
    .site_list li div {
      float: right;
      width: 3.25rem;
      height: 1.35rem;
      text-align: center;
      line-height: 1.35rem;
      border-radius: 4px;
      margin: 0.5rem 0rem 0.5rem 0rem; }
    .site_list li .site_compile {
      border: 1px solid #c49357;
      font-size: 0.7rem;
      color: #ab834c; }
    .site_list li .site_del {
      border: 1px solid #bbbbbb;
      font-size: 0.7rem;
      color: #333333;
      margin-right: 0.75rem; }

/*我要泡发*/
.my_soak {
  background: #fff;
  padding-left: 0.75rem; }
  .my_soak li {
    line-height: 2.25rem;
    border-bottom: 1px solid #dddddd;
    padding-right: 0.75rem; }
    .my_soak li span {
      display: inline-block;
      width: 4.5rem;
      font-size: 0.75rem;
      color: #333; }
    .my_soak li input {
      border: 0;
      outline: none;
      height: 1.5rem;
      width: 11.75rem;
      font-size: 0.75rem;
      color: #999; }
  .my_soak .taste div {
    float: right;
    width: 12.5rem; }
    .my_soak .taste div span {
      font-size: 0.75rem;
      color: #666; }
    .my_soak .taste div img {
      float: right;
      width: 0.4rem;
      height: 0.7rem;
      margin-top: 0.75rem; }
    .my_soak .taste div textarea {
      resize: none;
      margin-top: 0.6rem;
      width: 100%;
      border: 0;
      font-size: 0.75rem;
      color: #999; }
  .my_soak .so_num div p {
    width: 5.4rem; }
    .my_soak .so_num div p span {
      width: 2.25rem;
      text-align: center;
      font-size: 0.75rem;
      color: #333; }
    .my_soak .so_num div p i {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border: 2px solid #e5e5e5;
      font-size: 1rem;
      color: #999;
      font-family: "";
      text-align: center;
      line-height: 1rem;
      border-radius: 50%;
      margin-bottom: 0.2rem;
      vertical-align: middle; }
  .my_soak .so_num div .so_line {
    float: left;
    width: 0.25rem;
    height: 0.75rem;
    border-right: 1px solid #bbbbbb;
    margin: 0.75rem 0rem 0rem 0.35rem;
    vertical-align: middle; }

/*泡发进度*/
.so_info {
  background: #fff;
  padding-bottom: 0.5rem; }
  .so_info dt {
    line-height: 2.25rem;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0.5rem; }
    .so_info dt img {
      width: 0.15rem;
      height: 0.8rem;
      vertical-align: middle;
      margin: 0rem 0.5rem 0.15rem 0rem; }
    .so_info dt span {
      font-size: 0.8rem;
      color: #333;
      font-weight: bold; }
  .so_info dd {
    line-height: 1.15rem; }
    .so_info dd span {
      font-size: 0.8rem;
      color: #333; }
    .so_info dd i {
      font-size: 0.8rem;
      color: #666;
      padding-left: 0.25rem; }
    .so_info dd .finish {
      float: right;
      font-size: 0.7rem;
      color: #999; }

.so_schedule dd {
  position: relative; }
  .so_schedule dd .so_line {
    position: absolute;
    left: 0.75rem;
    top: 0.5rem;
    width: 0.15rem;
    height: 5rem;
    background: #ededed; }
  .so_schedule dd .schedule {
    width: 17rem;
    float: right;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0.5rem; }
    .so_schedule dd .schedule h3 {
      font-size: 0.8rem;
      color: #333;
      line-height: 1.125rem;
      position: relative; }
      .so_schedule dd .schedule h3 .circle {
        display: block;
        position: absolute;
        left: -1.2rem;
        top: 0.25rem;
        width: 0.5rem;
        height: 0.5rem;
        background: #ededed;
        padding: 0;
        border-radius: 50%; }
    .so_schedule dd .schedule p {
      font-size: 0.7rem;
      color: #999;
      line-height: 1.125rem; }
    .so_schedule dd .schedule .so_pic {
      margin: 0.35rem 0rem 0.75rem 0rem; }
      .so_schedule dd .schedule .so_pic li {
        float: left;
        margin-right: 0.4rem; }
        .so_schedule dd .schedule .so_pic li img {
          width: 3.75rem;
          height: 3.75rem; }

/*直接送货*/
.deli_site dt {
  background: #fff;
  padding-bottom: 0.5rem; }
  .deli_site dt p .cb {
    -webkit-appearance: none;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url(../images/radiou.png) no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin: 0rem 0.5rem 0.15rem 0rem; }
  .deli_site dt p .cb[type="checkbox"]:checked {
    background: url(../images/cb.png) no-repeat;
    background-size: cover; }
  .deli_site dt p span {
    font-size: 0.8rem;
    color: #333;
    line-height: 2.2rem;
    font-weight: bold; }
  .deli_site dt p i {
    font-size: 0.8rem;
    color: #333;
    padding-left: 0.75rem; }
  .deli_site dt div {
    font-size: 0.7rem;
    color: #666;
    margin-left: 1.6rem; }
.deli_site dd {
  line-height: 2.25rem;
  background: #FFF; }
  .deli_site dd span {
    font-size: 0.75rem;
    color: #333; }
  .deli_site dd i {
    font-size: 0.75rem;
    color: #666;
    padding-left: 1rem; }
  .deli_site dd img {
    width: 0.4rem;
    height: 0.7rem;
    float: right;
    margin-top: 0.75rem; }

/*送货申请成功*/
.deli_car {
  width: 7.75rem;
  height: 5.9rem;
  margin: 0 auto;
  margin-top: 6rem; }
  .deli_car img {
    width: 100%; }

.deli_succeed {
  font-size: 0.8rem;
  color: #333;
  text-align: center;
  line-height: 3rem; }

.deli_ret {
  display: block;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #aa8250;
  width: 7rem;
  height: 1.85rem;
  text-align: center;
  line-height: 1.85rem;
  background: #fff;
  border-radius: 4px; }

/*我的订单*/
.order {
  background: #fff; }
  .order li {
    width: 20%;
    float: left;
    text-align: center; }
    .order li span {
      font-size: 0.75rem;
      color: #666;
      line-height: 2.15rem;
      display: inline-block;
      padding: 0rem 0.25rem 0rem 0.25rem;
      border-bottom: 2px solid #fff; }
    .order li .bor {
      border-color: #aa8250;
      color: #aa8250; }
    .order li i {
      float: right;
      height: 0.75rem;
      border-right: 1px solid #e4e4e4;
      margin-top: 0.75rem; }

.order_content li .order_num {
  line-height: 1.9rem;
  background: #fff; }
  .order_content li .order_num span {
    font-size: 0.75rem;
    color: #333; }
  .order_content li .order_num i {
    float: right;
    font-size: 0.7rem;
    color: #999; }
.order_content li .order_shop {
  background: #f8f8f8;
  padding: 0.75rem; }
  .order_content li .order_shop .or_pic {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 4px; }
    .order_content li .order_shop .or_pic img {
      width: 100%; }
  .order_content li .order_shop .or_info {
    width: 12.25rem; }
    .order_content li .order_shop .or_info h3 {
      font-size: 0.8rem;
      color: #333;
      line-height: 0.9rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .order_content li .order_shop .or_info p {
      font-size: 0.8rem;
      color: #333;
      line-height: 2rem; }
    .order_content li .order_shop .or_info span {
      display: block;
      margin-top: 0.3rem;
      font-size: 0.7rem;
      color: #999999; }
.order_content li .affirm {
  background: #fff;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem; }
  .order_content li .affirm a {
    float: right;
    display: block;
    width: 3.7rem;
    height: 1.35rem;
    font-size: 0.7rem;
    color: #aa8250;
    text-align: center;
    line-height: 1.35rem;
    border: 1px solid #aa8250;
    border-radius: 4px; }

/*评论*/
.comment {
  background: #fff;
  padding-left: 0.75rem; }
  .comment dt {
    line-height: 2.75rem;
    border-bottom: 1px solid #dddddd; }
    .comment dt img {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 4px;
      vertical-align: middle;
      margin-bottom: 0.15rem; }
    .comment dt span {
      font-size: 0.75rem;
      color: #333;
      padding-left: 0.4rem; }
  .comment dd {
    padding-right: 0.75rem; }
    .comment dd textarea {
      width: 100%;
      resize: none;
      margin-top: 0.5rem;
      font-size: 0.7rem;
      color: #999;
      border: 0px; }
    .comment dd span {
      float: right;
      font-size: 0.7rem;
      color: #999;
      padding-bottom: 0.5rem; }

/*我的二维码*/
.code {
  width: 16.95rem;
  height: 19.475rem;
  margin: 0 auto;
  margin-top: 3.25rem; }
  .code img {
    width: 100%; }

/*我的海参*/
.my_nav {
  background: #b59681;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .my_nav li {
    float: left;
    width: 50%;
    text-align: center;
    line-height: 2.2rem;
    position: relative; }
    .my_nav li i {
      height: 0.75rem;
      border-left: 1px solid #d3c0b3;
      float: right;
      margin-top: 0.75rem; }
    .my_nav li span {
      font-size: 0.8rem;
      color: #FFF; }
    .my_nav li div {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 0.4rem;
      text-align: center;
      overflow: hidden;
      line-height: 0rem; }
      .my_nav li div img {
        width: 1.4rem;
        height: 0.35rem;
        vertical-align: middle;
        margin-top: 0.075rem; }
  .my_nav .consign div {
    display: none; }

.my_info .schedule {
  border: 0px;
  border-top: 1px solid #dddddd;
  margin: 0.5rem 0rem 0rem 0.75rem;
  padding-right: 0.75rem; }
  .my_info .schedule a {
    display: inline-block;
    width: 5rem;
    height: 1.4rem;
    border: 1px solid #aa8250;
    float: right;
    font-size: 0.7rem;
    color: #ab834c;
    line-height: 1.45rem;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 6px; }

.my_box1 {
  display: none; }
  .my_box1 .schedule .tre_soak {
    width: 3.6rem;
    height: 1.4rem;
    background: #aa8250;
    font-size: 0.7rem;
    color: #fff;
    text-align: center;
    margin-left: 0.75rem; }
  .my_box1 .schedule .tre_delivery {
    width: 5.75rem; }

/*了解参公馆*/
.konw_nav li {
  width: 33.3%; }

.know_self-introduction {
  background: #fff; }
  .know_self-introduction li {
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-bottom: 1px solid #eeeeee; }
    .know_self-introduction li .know_introduce {
      width: 12.1rem;
      float: right; }
      .know_self-introduction li .know_introduce h3 {
        font-size: 0.75rem;
        color: #333;
        line-height: 0.85rem; }
      .know_self-introduction li .know_introduce p {
        font-size: 0.7rem;
        color: #666666;
        margin: 0.4rem 0rem 0.4rem 0rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical; }
      .know_self-introduction li .know_introduce span {
        font-size: 0.7rem;
        color: #999; }
    .know_self-introduction li .know_pic {
      width: 4.4rem;
      height: 3.5rem; }
      .know_self-introduction li .know_pic img {
        width: 100%;
        border-radius: 3px; }

.know_story {
  display: none; }

.know_group {
  display: none; }
  .know_group li {
    padding: 0rem 0.75rem 0rem 0.75rem; }
    .know_group li h4 {
      font-size: 0.75rem;
      color: #333;
      line-height: 2.2rem; }
    .know_group li .group_pic img {
      width: 5.4rem;
      height: 4.3rem;
      border-radius: 3px; }
    .know_group li .group_pic .mar_rt {
      display: block;
      margin: 0 auto; }
    .know_group li .know_time {
      display: block;
      font-size: 0.7rem;
      color: #999;
      text-align: right;
      line-height: 1.5rem; }

/*公共样式*/
.ovw {
  overflow: hidden; }

.pad {
  padding: 0rem 0.75rem 0rem 0.75rem; }

.pad_b {
  padding-bottom: 0px; }

.mar_b {
  margin-bottom: 0.35rem; }

.mar_b1 {
  margin-bottom: 3.75rem; }

.mar_bot {
  margin: 0px; }

.mar_r {
  margin-right: 0.55rem;
  margin-bottom: 0.5rem; }

.mar_t {
  margin-top: 0.5rem; }

.bor_b {
  border-bottom: 1px solid #eeeeee; }

.bor_t {
  border-top: 1px solid #eeeeee;
  background: #fff; }

.font_c {
  color: #666 !important; }

.bg_col {
  background: #ededed; }

.col {
  color: #ee0000 !important; }

.font_col {
  color: #e1d5cd !important; }

.mar_top {
  margin-top: 2.25rem !important; }

/*# sourceMappingURL=public.css.map */
